@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  inline-size: 100%; }

.header-container {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  margin-inline: 9.375rem;
  margin-block-start: 3.125rem; }
  .header-container .name-info .brand {
    font-size: 1rem;
    text-decoration: none;
    color: black; }
    .header-container .name-info .brand .author {
      font-size: 0.75rem;
      font-family: "Josefin Sans", monospace;
      letter-spacing: 0.188rem;
      font-weight: bold; }
      .header-container .name-info .brand .author br {
        display: none; }
    .header-container .name-info .brand .info.-author {
      margin-top: 0.25rem;
      font-family: "Roboto", monospace;
      font-weight: 300; }
  .header-container .about {
    font-family: "Josefin Sans", monospace; }
    .header-container .about .about-link {
      font-size: 1rem;
      text-decoration: none;
      color: black; }
      .header-container .about .about-link br {
        display: none; }

.container-intro {
  font-size: 2.625rem;
  margin-top: 5rem; }
  .container-intro h1 {
    margin: 0;
    margin-inline: 9.375rem;
    font-family: var(--fontTertiary);
    font-weight: 100; }

.nav-filters {
  margin-top: 5rem;
  margin-inline-start: 9.375rem; }
  .nav-filters .filters {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
    font-family: "Josefin Sans", monospace;
    text-transform: uppercase;
    font-size: 0.9rem;
    list-style: none; }
    .nav-filters .filters .active-filter {
      color: black;
      text-decoration: none;
      font-weight: 700; }
    .nav-filters .filters .filter {
      text-decoration: none;
      color: #a4a3a3; }

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.875rem;
  row-gap: 0.938rem;
  margin-inline: 9.375rem;
  margin-top: 2.8rem; }
  .container-grid .card-1 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-2 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-3 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-4 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-5 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-6 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-7 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-8 {
    display: flex;
    flex-direction: column; }
  .container-grid .card-5 {
    padding-top: 2rem; }
  .container-grid .card-6 {
    padding-top: 2rem; }
  .container-grid .card-7 {
    padding-top: 2rem; }
  .container-grid .card-8 {
    padding-top: 2rem; }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .effect-image-i, .container-grid .grayscale-effect {
    position: relative;
    display: block; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      transition: all .4s linear;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%); }
      .container-grid .effect-image-i img:hover, .container-grid .grayscale-effect img:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0); }
  .container-grid .image {
    object-fit: cover;
    width: 100%;
    height: 16.625rem; }
  .container-grid .grid-info {
    margin-top: 0.625rem; }
    .container-grid .grid-info .title-grid {
      font-size: 1.125rem;
      font-family: "Roboto", monospace;
      font-weight: 300; }
    .container-grid .grid-info .description-grid {
      margin-top: 0.625rem;
      font-family: "Josefin Sans", monospace;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.125rem; }

.product-modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1e1e1e40;
  transition: all 0.7s;
  height: 1900px; }
  .product-modal:target {
    visibility: visible;
    opacity: 1; }
  .product-modal .modal-content {
    margin-top: 62px;
    height: 580px;
    background: white;
    -webkit-box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px 18px -5px rgba(0, 0, 0, 0.87); }
    .product-modal .modal-content img {
      width: 100%;
      object-fit: cover;
      height: 500px; }
    .product-modal .modal-content .modal-close {
      bottom: 500px;
      left: 510px;
      color: black;
      font-size: 2em;
      position: relative;
      text-shadow: 0 0 0.04em white;
      line-height: 1; }
    .product-modal .modal-content .description-modal {
      margin-left: 20px; }
      .product-modal .modal-content .description-modal h3 {
        margin: 0;
        margin-top: -20px;
        font-family: "Josefin Sans", monospace;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.8rem; }
      .product-modal .modal-content .description-modal p {
        margin: 0;
        margin-top: 8px;
        font-family: "Roboto", monospace;
        font-weight: 300;
        font-size: 1rem; }

.container-wd {
  margin-top: 2.8rem;
  display: flex;
  background-color: #0e1116;
  justify-content: center; }
  .container-wd img {
    width: 75rem;
    height: 35.75rem; }

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.875rem;
  row-gap: 1.4rem;
  margin-inline: 9.375rem;
  margin-top: 2.8rem; }
  .galeria a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 17.5rem;
    object-fit: cover; }
  .galeria img {
    object-fit: fill;
    display: block;
    width: 100%;
    height: 18rem; }

.galeria-mobile {
  display: none; }

.modal-mobile {
  display: none; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  /*display none quita la pripiedad, no es visible pero sigue en el dom. */
  justify-content: center;
  align-items: center; }
  .modal a {
    display: block;
    color: white;
    font-size: 3em;
    margin: 0 1.25rem; }
  .modal img {
    display: block; }

.visible {
  display: flex; }

.container-paints {
  margin-top: 6.25rem;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .container-paints input[type=radio] {
    display: none; }
  .container-paints .cards-paint {
    width: 100%;
    height: 100%;
    margin-bottom: 1.25rem; }
    .container-paints .cards-paint .card-paint {
      position: absolute;
      width: 30%;
      left: 0;
      right: 0;
      margin: auto;
      transition: transform .4s ease;
      cursor: pointer; }
      .container-paints .cards-paint .card-paint img {
        width: 100%;
        height: 100%;
        border-radius: 0.625rem;
        object-fit: cover;
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47); }
  .container-paints #item-1:checked ~ .cards-paint #paint-3, .container-paints #item-2:checked ~ .cards-paint #paint-1, .container-paints #item-3:checked ~ .cards-paint #paint-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: .4;
    z-index: 0; }
  .container-paints #item-1:checked ~ .cards-paint #paint-2, .container-paints #item-2:checked ~ .cards-paint #paint-3, .container-paints #item-3:checked ~ .cards-paint #paint-1 {
    transform: translatex(40%) scale(0.8);
    opacity: .4;
    z-index: 0; }
  .container-paints #item-1:checked ~ .cards-paint #paint-1, .container-paints #item-2:checked ~ .cards-paint #paint-2, .container-paints #item-3:checked ~ .cards-paint #paint-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1; }
  .container-paints .description-paint {
    margin-top: 25rem;
    border-radius: 0.5rem;
    min-width: 20rem;
    padding: 1rem 0.625rem;
    box-shadow: 0px 0px 1px 0px rgba(81, 81, 81, 0.47); }
    .container-paints .description-paint .description-part {
      position: relative;
      display: flex;
      align-items: center;
      height: 2.25rem;
      overflow: hidden; }
      .container-paints .description-paint .description-part .info-area {
        width: 100%;
        position: absolute;
        top: 0;
        left: 1.875rem;
        transition: transform .4s ease-in; }
        .container-paints .description-paint .description-part .info-area .paint-info .title {
          font-size: 1.125rem;
          font-family: "Roboto", monospace;
          font-weight: 300; }
        .container-paints .description-paint .description-part .info-area .paint-info .subtitle {
          font-family: "Josefin Sans", monospace;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 0.75rem;
          letter-spacing: 0.125rem;
          margin-top: 0.25rem; }
  .container-paints #item-2:checked ~ .description-paint #test {
    transform: translateY(0); }
  .container-paints #item-2:checked ~ .description-paint #test {
    transform: translateY(-2.5rem); }
  .container-paints #item-3:checked ~ .description-paint #test {
    transform: translateY(-4.75rem); }

.signing {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", monospace;
  margin-block: 2.5rem;
  font-size: 0.875rem; }

.aside .line-divider {
  margin-top: 4.75rem;
  width: all;
  height: 0.063rem;
  background-color: #E5E5E5; }

.aside .aboutme {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside .aboutme h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside .aboutme .about-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }

.aside .contact {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside .contact h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside .contact .contact-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }
    .aside .contact .contact-description p {
      margin: 0;
      margin-top: 0.25rem;
      color: black; }
    .aside .contact .contact-description .rrssig {
      display: flex;
      gap: 0.875rem; }
      .aside .contact .contact-description .rrssig .flecha {
        width: 1.875rem; }

.aside-wd .line-divider {
  margin-top: 4.75rem;
  width: all;
  height: 0.063rem;
  background-color: #E5E5E5; }

.aside-wd .aboutme {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-wd .aboutme h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-wd .aboutme .about-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }

.aside-wd .contact {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-wd .contact h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-wd .contact .contact-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }
    .aside-wd .contact .contact-description p {
      margin: 0;
      margin-top: 0.25rem;
      color: black; }
    .aside-wd .contact .contact-description .rrssig {
      display: flex;
      gap: 0.875rem; }
      .aside-wd .contact .contact-description .rrssig .flecha {
        width: 1.875rem; }

.aside-hand-paints .line-divider {
  margin-top: 4.75rem;
  width: all;
  height: 0.063rem;
  background-color: #E5E5E5; }

.aside-hand-paints .aboutme {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-hand-paints .aboutme h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-hand-paints .aboutme .about-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }

.aside-hand-paints .contact {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-hand-paints .contact h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-hand-paints .contact .contact-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }
    .aside-hand-paints .contact .contact-description p {
      margin: 0;
      margin-top: 0.25rem;
      color: black; }
    .aside-hand-paints .contact .contact-description .rrssig {
      display: flex;
      gap: 0.875rem; }
      .aside-hand-paints .contact .contact-description .rrssig .flecha {
        width: 1.875rem; }

.aside-photography {
  margin-top: 4rem; }
  .aside-photography .line-divider-first {
    width: all;
    height: 0.063rem;
    background-color: #E5E5E5; }
  .aside-photography .aboutme {
    margin-inline: 9.375rem;
    margin-block: 5rem; }
    .aside-photography .aboutme h2 {
      font-family: "Josefin Sans", monospace;
      font-weight: 500;
      letter-spacing: 0.188rem; }
    .aside-photography .aboutme .about-description {
      font-family: "Roboto", monospace;
      font-weight: 300; }
  .aside-photography .line-divider-second {
    margin-top: 6rem;
    width: all;
    height: 0.063rem;
    background-color: #E5E5E5; }
  .aside-photography .line-divider-third {
    margin-top: 6rem;
    width: all;
    height: 0.063rem;
    background-color: #E5E5E5; }
  .aside-photography .contact {
    margin-inline: 9.375rem;
    margin-block: 5rem; }
    .aside-photography .contact h2 {
      font-family: "Josefin Sans", monospace;
      font-weight: 500;
      letter-spacing: 0.188rem; }
    .aside-photography .contact .contact-description {
      font-family: "Roboto", monospace;
      font-weight: 300; }
      .aside-photography .contact .contact-description p {
        margin: 0;
        margin-top: 0.25rem;
        color: black; }
      .aside-photography .contact .contact-description .rrssig {
        display: flex;
        gap: 0.875rem; }
        .aside-photography .contact .contact-description .rrssig .flecha {
          width: 1.875rem; }

@media only screen and (max-width: 1400px) {
  .product-modal .modal-content {
    margin-top: 10rem;
    width: 70rem;
    height: 55rem; }
    .product-modal .modal-content img {
      width: 100%;
      height: 46rem; }
    .product-modal .modal-content .modal-close {
      bottom: 730px;
      left: 1070px;
      color: black;
      font-size: 3rem;
      position: relative;
      text-shadow: 0 0 0.04em white;
      line-height: 1; }
    .product-modal .modal-content .description-modal {
      margin-left: 2rem; }
      .product-modal .modal-content .description-modal h3 {
        margin: 0;
        margin-top: -16px;
        font-size: 1.6rem;
        letter-spacing: 1.3rem; }
      .product-modal .modal-content .description-modal p {
        margin-top: 8px;
        font-size: 1.6rem; } }

@media only screen and (max-width: 1024px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.875rem;
    margin-inline: 9rem; }
    .container-grid .image {
      height: 22.625rem; }
  .product-modal .modal-content {
    margin-top: 4rem;
    width: 40rem;
    height: 30rem; }
    .product-modal .modal-content img {
      width: 100%;
      height: 26rem; }
    .product-modal .modal-content .modal-close {
      bottom: 420px;
      left: 610px;
      font-size: 2rem; }
    .product-modal .modal-content .description-modal {
      margin-left: 1rem; }
      .product-modal .modal-content .description-modal h3 {
        margin: 0;
        margin-top: -1.4rem;
        font-size: 0.8rem;
        letter-spacing: 1.3rem; }
      .product-modal .modal-content .description-modal p {
        margin-top: 8px;
        font-size: 1rem; }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.875rem; }
    .galeria a {
      height: 22rem;
      padding-bottom: 2rem; }
    .galeria img {
      height: 22rem; }
  .container-paints .description-paint {
    margin-top: 18.75rem; } }

/*responsive tablet */
@media only screen and (max-width: 875px) {
  .header-container {
    margin-block-start: 2rem;
    margin-inline: 3rem; }
    .header-container .author {
      font-size: 0.75rem;
      font-family: var(--fontSecundary);
      letter-spacing: 0.188rem; }
    .header-container .info-author {
      display: flex;
      margin-top: 0.25rem;
      font-size: 0.875rem;
      font-weight: 300; }
  .container-intro {
    font-size: 2rem; }
    .container-intro h1 {
      margin-inline: 3rem; }
  .nav-filters {
    margin-inline: 3rem; }
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 3rem; }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .effect-image-i img, .container-grid .grayscale-effect img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    .container-grid .image {
      height: 24.625rem; }
  .product-modal .modal-content .description-modal p {
    margin-top: 0.3rem; }
  .galeria {
    margin-inline: 3rem; }
  .container-paints .description-paint {
    margin-top: 15.625rem; }
  .aside .aboutme {
    margin-inline: 3rem;
    margin-block: 5rem; }
  .aside .contact {
    margin-inline: 3rem;
    margin-block: 5rem; }
  .aside-photography .aboutme,
  .aside-photography .contact {
    margin-inline: 3rem;
    margin-block: 5rem; }
  .aside-hand-paints {
    margin-top: 2rem; }
    .aside-hand-paints .aboutme,
    .aside-hand-paints .contact {
      margin-inline: 3rem;
      margin-block: 5rem; }
  .aside-wd .aboutme,
  .aside-wd .contact {
    margin-inline: 3rem;
    margin-block: 5rem; } }

@media (max-width: 767px) {
  .container-intro {
    font-size: 2rem; }
    .container-intro h1 {
      margin-inline: 2.375rem; }
  .nav-filters {
    margin-inline: 2.375rem;
    margin-top: 4.375rem; }
    .nav-filters .filters {
      display: block;
      text-align: center;
      line-height: 1.5em;
      font-size: 1rem; }
  .container-grid {
    column-gap: 0.875rem;
    margin-inline: 2rem; }
    .container-grid .image {
      height: 18rem; }
  .galeria {
    column-gap: 0.875rem;
    margin-inline: 2rem; }
    .galeria a {
      height: 20.5rem;
      padding-bottom: 2.4rem; }
    .galeria .image {
      height: 20rem; } }

@media (max-width: 580px) {
  .container-grid .image {
    height: 15.625rem; }
  .product-modal .modal-content {
    margin-top: 4rem;
    width: 400px;
    height: 450px; }
    .product-modal .modal-content img {
      width: 400px;
      height: 380px; }
    .product-modal .modal-content .modal-close {
      bottom: 23.8rem;
      left: 23rem;
      font-size: 2rem; }
    .product-modal .modal-content .description-modal {
      margin-left: 0.6rem; }
      .product-modal .modal-content .description-modal h3 {
        font-size: 0.8rem;
        letter-spacing: 0.6rem; }
      .product-modal .modal-content .description-modal p {
        font-size: 0.8rem; }
  .galeria a {
    height: 17.5rem;
    padding: 0; }
  .galeria img {
    height: 18rem; }
  .modal {
    justify-content: center; }
    .modal img {
      width: 62%; }
    .modal a {
      font-size: 1.8rem; }
  .container-paints .cards-paint .card-paint {
    width: 40%; }
  .container-wd {
    overflow: hidden; } }

@media (max-width: 460px) {
  .header-container {
    margin-inline: 2rem; }
    .header-container .name-info .brand .author {
      font-size: 0.8rem;
      line-height: 1rem; }
      .header-container .name-info .brand .author br {
        display: block; }
    .header-container .name-info .info-author {
      font-size: 0.84rem; }
    .header-container .about {
      font-size: 0.9rem;
      line-height: 1rem; }
      .header-container .about .about-link br {
        display: block; }
  .container-intro {
    font-size: 1.625rem; }
  .nav-filters {
    margin-top: 2rem; }
  .container-wd img {
    width: 37.5rem;
    height: 18.75rem; }
  .container-grid .image {
    height: 11.625rem; }
  .galeria a {
    height: 14.5rem;
    padding-bottom: 10px; }
  .galeria img {
    height: 14.625rem; }
  .aside .aboutme {
    margin-top: 28px; }
    .aside .aboutme h2 {
      font-size: 1.2rem; }
    .aside .aboutme .about-description {
      font-size: 0.8rem; }
  .aside .contact {
    margin-top: 28px; }
    .aside .contact h2 {
      font-size: 1.2rem; }
    .aside .contact .contact-description {
      font-size: 0.8rem; }
  .aside-photography .aboutme .box-about {
    margin-top: -3rem; }
  .aside-photography .aboutme h2 {
    font-size: 1.2rem; }
  .aside-photography .aboutme .about-description {
    font-size: 0.8rem;
    margin-bottom: 0; }
  .aside-photography .contact .box-contact {
    margin-top: -3rem; }
  .aside-photography .contact h2 {
    font-size: 1.2rem; }
  .aside-photography .contact .contact-description {
    font-size: 0.8rem; }
  .aside-hand-paints {
    margin-top: 6rem; }
    .aside-hand-paints .aboutme .box-about {
      margin-top: -3rem; }
    .aside-hand-paints .aboutme h2 {
      font-size: 1.2rem; }
    .aside-hand-paints .aboutme .about-description {
      font-size: 0.8rem;
      margin-bottom: 0; }
    .aside-hand-paints .contact .box-contact {
      margin-top: -3rem; }
    .aside-hand-paints .contact h2 {
      font-size: 1.2rem; }
    .aside-hand-paints .contact .contact-description {
      font-size: 0.8rem; }
  .aside-wd {
    margin-top: 6rem; }
    .aside-wd .aboutme .box-about {
      margin-top: -3rem; }
    .aside-wd .aboutme h2 {
      font-size: 1.2rem; }
    .aside-wd .aboutme .about-description {
      font-size: 0.8rem;
      margin-bottom: 0; }
    .aside-wd .contact .box-contact {
      margin-top: -3rem; }
    .aside-wd .contact h2 {
      font-size: 1.2rem; }
    .aside-wd .contact .contact-description {
      font-size: 0.8rem; } }

@media (max-width: 377px) {
  .header-container {
    margin-top: 2rem; }
    .header-container .name-info .brand .author {
      font-size: 0.6rem; }
      .header-container .name-info .brand .author br {
        display: block; }
    .header-container .name-info .info-author {
      font-size: 0.65rem; }
    .header-container .about .about-link {
      font-size: 0.8rem;
      line-height: normal; }
      .header-container .about .about-link br {
        display: block; }
  .container-intro {
    margin-top: 1.6rem; }
    .container-intro h1 {
      font-size: 2rem; }
  .nav-filters {
    margin-top: 2rem; }
  .container-wd img {
    width: 37.5rem;
    height: 18.75rem; }
  .container-grid .image {
    height: 9.8rem; }
  .container-grid .grid-info .title-grid {
    font-size: 0.9rem; }
  .container-grid .grid-info .description-grid {
    font-size: 0.68rem; }
  .galeria {
    margin-top: 1.4rem; }
    .galeria a {
      height: 10rem;
      padding-bottom: 6px; }
    .galeria img {
      height: 10rem; }
  .modal {
    justify-content: center; }
    .modal img {
      width: 62%; }
    .modal a {
      font-size: 1.8rem; }
  .product-modal .modal-content {
    margin-top: 5rem;
    width: 320px;
    height: 350px; }
    .product-modal .modal-content img {
      width: 320px;
      height: 300px; }
    .product-modal .modal-content .modal-close {
      bottom: 19rem;
      left: 18.8rem;
      font-size: 1.4rem; }
    .product-modal .modal-content .description-modal {
      margin-top: 0.4rem;
      margin-left: 14px; }
      .product-modal .modal-content .description-modal h3 {
        font-size: 0.6rem;
        letter-spacing: 0.2rem; }
      .product-modal .modal-content .description-modal p {
        margin-top: 3px;
        font-size: 0.6rem; }
  .container-paints .cards-paint {
    margin-bottom: -1.875rem; }
    .container-paints .cards-paint .card-paint {
      width: 50%; }
  .container-paints .description-paint {
    min-width: 15rem; }
  .signing {
    margin-top: 1rem;
    font-size: 0.7rem; } }
