@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  inline-size: 100%; }

.header-container {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  margin-inline: 9.375rem;
  margin-block-start: 3.125rem; }
  .header-container .name-info .brand {
    font-size: 1rem;
    text-decoration: none;
    color: black; }
    .header-container .name-info .brand .author {
      font-size: 0.75rem;
      font-family: "Josefin Sans", monospace;
      letter-spacing: 0.188rem;
      font-weight: bold; }
      .header-container .name-info .brand .author br {
        display: none; }
    .header-container .name-info .brand .info.-author {
      margin-top: 0.25rem;
      font-family: "Roboto", monospace;
      font-weight: 300; }
  .header-container .about {
    font-family: "Josefin Sans", monospace; }
    .header-container .about .about-link {
      font-size: 1rem;
      text-decoration: none;
      color: black; }
      .header-container .about .about-link br {
        display: none; }

.container-intro {
  font-size: 2.625rem;
  margin-top: 5rem; }
  .container-intro h1 {
    margin: 0;
    margin-inline: 9.375rem;
    font-family: var(--fontTertiary);
    font-weight: 100; }

.nav-filters {
  margin-top: 5rem;
  margin-inline-start: 9.375rem; }
  .nav-filters .filters {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
    font-family: "Josefin Sans", monospace;
    text-transform: uppercase;
    font-size: 0.90rem;
    list-style: none; }
    .nav-filters .filters .active-filter {
      color: black;
      text-decoration: none;
      font-weight: 700; }
    .nav-filters .filters .filter {
      text-decoration: none;
      color: #a4a3a3; }

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.875rem;
  row-gap: 0.938rem;
  margin-inline: 9.375rem;
  margin-top: 2.8rem;
  height: 110vh; }
  .container-grid .card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .container-grid .card-5 {
    padding-top: 2rem; }
  .container-grid .card-6 {
    padding-top: 2rem; }
  .container-grid .card-7 {
    padding-top: 2rem; }
  .container-grid .card-8 {
    padding-top: 2rem; }
  .container-grid .image {
    width: 100%;
    height: 16.625rem; }
  .container-grid .grid-info {
    margin-top: 0.625rem;
    /* border: 6px solid red; */ }
    .container-grid .grid-info .title-grid {
      font-size: 1.125rem;
      font-family: "Roboto", monospace;
      font-weight: 300;
      /* border: 6px solid pink; */ }
    .container-grid .grid-info .description-grid {
      margin-top: 0.625rem;
      font-family: "Josefin Sans", monospace;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.125rem;
      /* border: 6px solid aqua; */ }

.galeria {
  width: 450px;
  margin-inline: 9.375rem;
  margin-top: 2.8rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px; }
  .galeria a {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden; }
  .galeria img {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  /*display none quita la pripiedad, no es visible pero sigue en el dom. */
  justify-content: center;
  align-items: center; }
  .modal a {
    display: block;
    color: white;
    font-size: 3em;
    margin: 0 20px; }
  .modal img {
    display: block; }

.visible {
  display: flex; }

.signing {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", monospace;
  margin-block: 2.5rem;
  font-size: 0.875rem; }

.aside-index .line-divider {
  margin-top: 4.75rem;
  width: all;
  height: 0.063rem;
  background-color: #E5E5E5; }

.aside-index .aboutme {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-index .aboutme h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-index .aboutme .about-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }

.aside-index .contact {
  margin-inline: 9.375rem;
  margin-block: 5rem; }
  .aside-index .contact h2 {
    font-family: "Josefin Sans", monospace;
    font-weight: 500;
    letter-spacing: 0.188rem; }
  .aside-index .contact .contact-description {
    font-family: "Roboto", monospace;
    font-weight: 300; }
    .aside-index .contact .contact-description p {
      margin: 0;
      margin-top: 0.25rem;
      color: black; }
    .aside-index .contact .contact-description .rrssig {
      display: flex;
      gap: 0.875rem; }
      .aside-index .contact .contact-description .rrssig .flecha {
        width: 1.875rem; }

@media only screen and (max-width: 1400px) {
  .aside-index {
    margin-top: 25rem; } }

@media only screen and (max-width: 1024px) {
  /* grid index */
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.875rem;
    margin-inline: 9rem; }
    .container-grid .image {
      height: 22.625rem; }
  /* aside index */
  .aside-index {
    margin-top: 97.75rem; } }

/*responsive tablet */
@media only screen and (max-width: 875px) {
  .header-container {
    margin-inline: 2.375rem; }
    .header-container .author {
      font-size: 0.75rem;
      font-family: var(--fontSecundary);
      letter-spacing: 0.188rem; }
    .header-container .info-author {
      display: flex;
      margin-top: 0.25rem;
      font-size: 0.875rem;
      font-weight: 300; }
  /*H1*/
  .container-intro {
    font-size: 2rem; }
    .container-intro h1 {
      margin-inline: 2.375rem; }
  /*H1--*/
  .nav_filters {
    margin-left: 100px; }
  /* grid index */
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 2rem; }
    .container-grid .image {
      height: 24.625rem; }
  /* grid index */
  /* aside index */
  .aside-index {
    margin-top: 103.125rem; }
    .aside-index .aboutme {
      margin-inline: 2.375rem;
      margin-block: 5rem; }
    .aside-index .contact {
      margin-inline: 2.375rem;
      margin-block: 5rem; } }
