//intro
.container-intro{
    font-size: 1.625rem;
    margin-top: 5rem;
    h1{
        margin: 0;
        margin-inline: 9.375rem;
        font-family: var(--fontTertiary);
        font-weight: 100;
    }
}
//nav
.nav-filters{
    margin-top: 5rem;
    margin-inline-start: 9.375rem;
    .filters{
        @include filtersNav(0, 0, 1.25rem, $fontSecundary, uppercase, 0.90rem, none);
        .active-filter{
            color: $colorPrimary;
            text-decoration: none;
            font-weight: 700;
        }
        .filter{
            text-decoration: none;
            color: #a4a3a3;
        }
    }
}

