.header-container{
    @include flexheader(0.875rem, space-between, 9.375rem, 3.125rem);// en la ejecucion los parentesis ahora son argumentos
    .name-info{
        .brand{
                font-size: 1rem;
                text-decoration: none;
                color: black;
            .author{
                font-size: 0.75rem;
                font-family: $fontSecundary;
                letter-spacing: 0.188rem;
                font-weight: bold;
                br{
                    display: none;
                }
            }
            .info.-author{
                margin-top: 0.25rem;
                font-family: $fontPrimary;
                font-weight: 300;
            }
        }
       
    }
    .about{
        font-family: $fontSecundary;
        .about-link{
            font-size: 1rem;
            text-decoration: none;
            color: black;
            br{
                display: none;
            }
        }
    }
}