.header-container{
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 9.375rem;
    margin-block-start: 3.125rem;
    .name-info{
        .brand{
                font-size: 1rem;
                text-decoration: none;
                color: black;
            .author{
                font-size: 0.75rem;
                font-family: $fontSecundary;
                letter-spacing: 0.188rem;
                font-weight: bold;
            }
            .info.-author{
                margin-top: 0.25rem;
                font-family: $fontPrimary;
                font-weight: 300;
            }
        }
       
    }
    .about{
        font-family: $fontSecundary;
        .about-link{
            font-size: 1rem;
            text-decoration: none;
            color: black;
        }
    }
}