.product-modal{
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &:target {
        visibility: visible;
        opacity: 1;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e40;
    transition: all 0.7s;
    height: 1900px;
    
    .modal-content {
        margin-top: 62px;
        height: 580px;
        background: rgb(255, 255, 255);
        -webkit-box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
        -moz-box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
        box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
            img{
                width: 100%;
                object-fit: cover;
                height: 500px;
            }
            .modal-close {
            bottom: 500px;
            left: 510px;
            color: darken(rgb(0, 0, 0), 10%);
            font-size: 2em;
            position: relative;
            text-shadow:  0 0 0.04em rgb(255, 255, 255);
            line-height: 1;
        }
        .description-modal{
            margin-left: 20px;
            h3{
                margin: 0;
                margin-top: -20px;
                font-family: $fontSecundary;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.8rem;
            }
            p{
                margin: 0;
                margin-top: 8px;
                font-family: $fontPrimary;
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}
