.only-modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &:target {
        visibility: visible;
        opacity: 1;
    }
}
.only-modal {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.591);
    // border: 1px solid red;
    transition: all 0.7s;
    height: 1900px;
    .modal-content {
        margin-top: 90px;
        height: 700px;
        background: rgb(255, 255, 255);
        -webkit-box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
        -moz-box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
        box-shadow: 0px 2px 18px -5px rgba(0,0,0,0.87);
            img{
                width: 650px;
                height: 600px;
                overflow: hidden;
            }
            .modal-close {
            color: darken(rgba(55, 11, 105, 1), 10%);
            font-size: 2em;
            position: absolute;
            top: 100px;
            right: 410px;
            text-decoration: none;
            line-height: 1;
        }
        .description-modal{
            margin-left: 20px;
            h3{
                margin: 0;
                margin-top: 18px;
                font-family: $fontSecundary;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 1.5rem;
            }
            p{
                margin: 0;
                margin-top: 8px;
                font-family: $fontPrimary;
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
    }
}