.product-modal{
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &:target {
        visibility: visible;
        opacity: 1;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e40;
    transition: all 0.7s;
    border: 2px red solid;
    .modal-close{
        position: relative;
        color: black;
        text-shadow:  0 0 0.04em rgb(255, 255, 255);
        top: 40px;
        left: 260px;
        font-size: 1.8rem;
    }
    .modal-content {
        background-color: white;
        -webkit-box-shadow: 0 0.125rem 1.125rem -0.313rem rgba(0,0,0,0.87);
        -moz-box-shadow: 0 0.125rem 1.125rem -0.313rem rgba(0,0,0,0.87);
        box-shadow: 0 0.125rem 1.125rem -0.313rem rgba(0,0,0,0.87);
        .description-modal{
            padding: 10px;
            h3{
                margin: 0;
                font-family: $fontSecundary;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.8rem;
            }
            p{
                margin: 0;
                margin-top: 0.5rem;
                font-family: $fontPrimary;
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}
