//responsive desktop
@media only screen and (max-width: 1400px){
    .aside{
     margin-top: 25rem;
    }
}

@media only screen and (max-width: 1024px){
    .container-grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.875rem;
        margin-inline: 9rem;    
        .image{
            height: 22.625rem;
        }
    }
    .aside{
        margin-top: 97.75rem;
    }
    .galeria{
        margin-inline: 9rem;
        grid-template-columns: repeat(3, auto);
        gap: 0.875rem;
    }
    .container-paints{
        .description-paint{
            margin-top: 18.75rem;
        }
    }
}

/*responsive tablet */
@media only screen and (max-width: 875px) {
    .header-container{
        margin-inline: 2rem;
        .author{
            font-size: 0.75rem;
            font-family: var(--fontSecundary);
            letter-spacing: 0.188rem;
        }
        .info-author{
            display: flex;
            margin-top: 0.25rem;
            font-size: 0.875rem;
            font-weight: 300;
        }
    }
.container-intro{
    font-size: 2rem;
    h1{
        margin-inline: 2.375rem;
    }
}
.nav-filters{
    margin-inline: 2rem;
}

.container-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 2rem;
    .image{
        height: 24.625rem;
    }
}
.galeria{
    margin-inline: 2rem;
}
.container-paints{
    .description-paint{
        margin-top: 15.625rem;
    }
}
.aside{
    margin-top: 90.125rem;
    .aboutme{
        margin-inline: 2rem;
        margin-block: 5rem;
    }
    .contact{
        margin-inline: 2rem;
        margin-block: 5rem;
    }
}

.aside-photography{
    margin-top: 6rem;
    .aboutme,
    .contact{
        margin-inline: 2rem;
        margin-block: 5rem;
    }
}
.aside-hand-paints{
    margin-top: 2rem;
    .aboutme,
    .contact{
        margin-inline: 2rem;
        margin-block: 5rem;
    }
}
.aside-wd{
    .aboutme,
    .contact{
        margin-inline: 2rem;
        margin-block: 5rem;
    }
}
}
@media (max-width: 767px) {
    .container-intro{
        font-size: 2rem;
        h1{
            margin-inline: 2.375rem;
        }
    }
    .nav-filters{
        margin-inline: 2.375rem;
        margin-top: 4.375rem;
        .filters{
            display: block;
            text-align: center;
            line-height:1.5em;
            font-size: 1rem;
        }
    }
    .container-grid{
        column-gap: 0.875rem;
        margin-inline: 2rem;
        .image{
            height: 21rem;
        }
    }
    .galeria{
        a,
        img{
            width: 14.063rem;
            height: 14.063rem;
        }
    }
    .aside{
        margin-top: 90rem;
    }
}

@media (max-width: 580px) {
    .container-grid{
       .image{
        height: 15.625rem;
        }  
   }
   .galeria{
    grid-template-columns: repeat(2, auto);
    gap: 0.625rem;
        a,
        img{
            width: 15.625rem;
            height: 15.625rem;
        }
    }
    .container-paints{
        .cards-paint{
            .card-paint{
                width: 40%;
            }
        }
    }
   .aside{
    margin-top: 56rem;
    }
    .container-wd{
        overflow: hidden;
    }
}
//responsive mobile
@media (max-width: 460px) {
    .header-container{
        margin-inline: 2rem;
        .name-info{
            .brand{
                .author{
                    font-size: 0.8rem;
                    line-height: 1rem;
                    br{
                        display: block;
                    }
                }
            }
            .info-author{
                font-size: 0.84rem;
            }
        }
        .about{
            font-size: 0.9rem;
            line-height: 1rem;
            .about-link{
                br{
                    display: block;
                }
            }
        }
    }
    .container-wd{
        img{
            width: 37.5rem;
            height: 18.75rem;
        }
    }
    .container-grid{
        .image{
            height: 11.625rem;
            } 
    }
    .galeria{
        margin-left: 0.8rem;
        grid-template-columns: repeat(2, auto);
        gap: 1.125rem;
            a,
            img{
                width: 12.5rem;
                height: 12.5rem;
            }
        }
    .aside{
        margin-top: 54rem;
        .aboutme{
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
            }
        }
        .contact{
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }
    .aside-photography,
    .aside-hand-paints{
        margin-top: 6rem;
        .aboutme{
            .box-about{
                margin-top: -3rem;
            }
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
              margin-bottom: 0;
            }
        } 
        .contact{
            .box-contact{
                margin-top: -3rem;
            }
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }
    .aside-wd{
        margin-top: 6rem;
        .aboutme{
            .box-about{
                margin-top: -3rem;
            }
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
              margin-bottom: 0;
            }
        } 
        .contact{
            .box-contact{
                margin-top: -3rem;
            }
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }      
}
@media (max-width: 375px) {
    .header-container{
        margin-top: 2rem;
        .name-info{
            .brand{
                .author{
                    font-size: 0.6rem;
                    br{
                        display: block;
                    }
                }
            }
            .info-author{
                font-size: 0.65rem;
            }
        }
        .about{
            .about-link{
                font-size: 0.8rem;
                line-height: normal;
                br{
                    display: block;
                }
            }
        }
    }
    .intro{
        margin-top: -1.25rem;
        h1{
            font-size: 2rem;
        }
    }
    .nav-filters{
        .filters{
            margin-top: -1rem;
        }
    }
    .container-wd{
        img{
            width: 37.5rem;
            height: 18.75rem;
        }
    }
    .container-grid{
        .image{
            height: 9.8rem;
        }
        .grid-info{
            .title-grid{
                font-size: 0.9rem;
            }
            .description-grid{
                font-size: 0.68rem;
            }
        }
    }
    
    .galeria{ 
        display:inline;
        margin-top: 3.75rem;
        a{
            margin-left: 0.8rem;
            width: 21.875rem;
            height: 21.875rem;
        }
        img{ 
            .no-visible{
                display: none;
            }
            width: 21.875rem;
            height: 21.875rem;
        }
    }
    .modal{
        justify-content: center;
        img{
            width: 62%;
        }
        a{
            font-size: 1.8rem;
        }
    }
    .container-paints{
        .cards-paint{
            margin-bottom: -1.875rem;
            .card-paint{
                width: 50%;
            }
        }  
        .description-paint{
            min-width: 15rem;
        } 
    }
    .aside{
        margin-top: 35rem;
    }
    .signing{
        font-size: 0.7rem;
    }
}




