@media only screen and (max-width: 1024px){
    .container-grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.875rem;
        margin-inline: 9rem;    
        .image{
            height: 22.625rem;
        }
    }
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.875rem;
        a{
            height: 22rem;
            padding-bottom: 2rem;
        }
        img{
            height: 22rem;
        }    
    }
    .container-paints{
        .description-paint{
            margin-top: 18.75rem;
        }
    }
}

@media only screen and (max-width: 875px) {
    .header-container{
        margin-block-start: 2rem;
        margin-inline: 3rem;
        .author{
            font-size: 0.75rem;
            font-family: var(--fontSecundary);
            letter-spacing: 0.188rem;
        }
        .info-author{
            display: flex;
            margin-top: 0.25rem;
            font-size: 0.875rem;
            font-weight: 300;
        }
    }
.container-intro{
    font-size: 2rem;
    h1{
        margin-inline: 3rem;
    }
}
.nav-filters{
    margin-inline: 3rem;
}
.container-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 3rem;
        @for $i from 1 through 8{
        .effect-image-#{i}, .grayscale-effect{
                img{ 
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                }
        }
    } 
    .image{
        height: 24.625rem;
    }
}

.galeria{
    margin-inline: 3rem;
}
.container-paints{
    .description-paint{
        margin-top: 15.625rem;
    }
}
.aside{
    .aboutme{
        margin-inline: 3rem;
        margin-block: 5rem;
    }
    .contact{
        margin-inline: 3rem;
        margin-block: 5rem;
    }
}

.aside-photography{
    .aboutme,
    .contact{
        margin-inline: 3rem;
        margin-block: 5rem;
    }
}
.aside-hand-paints{
    margin-top: 2rem;
    .aboutme,
    .contact{
        margin-inline: 3rem;
        margin-block: 5rem;
    }
}
.aside-wd{
    .aboutme,
    .contact{
        margin-inline: 3rem;
        margin-block: 5rem;
    }
}
}
@media (max-width: 767px) {
    .container-intro{
        font-size: 2rem;
        h1{
            margin-inline: 2.375rem;
        }
    }
    .nav-filters{
        margin-inline: 2.375rem;
        margin-top: 4.375rem;
        .filters{
            display: block;
            text-align: center;
            line-height:1.5em;
            font-size: 1rem;
        }
    }
    .container-grid{
        column-gap: 0.875rem;
        margin-inline: 2rem;
        .image{
            height: 18rem;
        }
    }

    .galeria{
        column-gap: 0.875rem;
        margin-inline: 2rem;
        a{
            height: 20.5rem;
            padding-bottom: 2.4rem;
        }
        .image{
            height: 20rem;
        }
    }
}

@media (max-width: 580px) {
    .container-grid{
       .image{
        height: 15.625rem;
        }  
   }
   .product-modal{
    .modal-close{
        top: 2rem;
        left: 13.5rem;
    }
    .modal-content{
        width: 80%;
        img{
            width: 100%;
        }
        .description-modal{
            p{
                font-size: 0.9rem;
            }
        }
    }
   }
  .galeria{
        a{
            height: 17.5rem;
            padding: 0;
        }
        img{
            height: 18rem;
        } 
    }
    .modal{
        justify-content: center;
        img{
            width: 62%;
        }
        a{
            font-size: 1.8rem;
        }
    }
    .container-paints{
        .cards-paint{
            .card-paint{
                width: 40%;
            }
        }
    }
    .container-wd{
        overflow: hidden;
    }
}
@media (max-width: 460px) {
    .header-container{
        margin-inline: 2rem;
        .name-info{
            .brand{
                .author{
                    font-size: 0.8rem;
                    line-height: 1rem;
                    br{
                        display: block;
                    }
                }
            }
            .info-author{
                font-size: 0.84rem;
            }
        }
        .about{
            font-size: 0.9rem;
            line-height: 1rem;
            .about-link{
                br{
                    display: block;
                }
            }
        }
    }
    .container-intro{
        font-size: 1.625rem;
    }
    .nav-filters{
        margin-top: 2rem;
    }
    .container-wd{
        img{
            width: 37.5rem;
            height: 18.75rem;
        }
    }
    .container-grid{
        .image{
            height: 11.625rem;
            } 
    }
    .product-modal{
        .modal-close{
            font-size: 1.5rem;
            top: 1.7rem;
            left: 10.625rem;
        }
        .modal-content{
            .description-modal{
                h3{
                    font-size: 0.8rem;
                    letter-spacing: 0.4rem;
                }
                p{
                    font-size: 0.7rem;
                }
            }
        }
    }
    .galeria{
            a{
                height: 14.5rem;
                padding-bottom: 0.625rem;
            }
            img{
                height: 14.625rem;
            }     
    }
    .aside{
        .aboutme{
            margin-top: 1.75rem;
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
            }
        }
        .contact{
            margin-top: 1.75rem;
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }
    .aside-photography{
        .aboutme{
            .box-about{
                margin-top: -3rem;
            }
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
              margin-bottom: 0;
            }
        } 
        .contact{
            .box-contact{
                margin-top: -3rem;
            }
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }
    .aside-hand-paints{
        margin-top: 6rem;
        .aboutme{
            .box-about{
                margin-top: -3rem;
            }
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
              margin-bottom: 0;
            }
        } 
        .contact{
            .box-contact{
                margin-top: -3rem;
            }
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }
    .aside-wd{
        margin-top: 6rem;
        .aboutme{
            .box-about{
                margin-top: -3rem;
            }
            h2{
            font-size: 1.2rem;
            }
            .about-description{
              font-size: 0.8rem;
              margin-bottom: 0;
            }
        } 
        .contact{
            .box-contact{
                margin-top: -3rem;
            }
            h2{
                font-size: 1.2rem;
            }
            .contact-description{
                font-size: 0.8rem;
            }
        } 
    }    
}
@media (max-width: 377px) {
    .header-container{
        margin-top: 2rem;
        .name-info{
            .brand{
                .author{
                    font-size: 0.6rem;
                    br{
                        display: block;
                    }
                }
            }
            .info-author{
                font-size: 0.65rem;
            }
        }
        .about{
            .about-link{
                font-size: 0.8rem;
                line-height: normal;
                br{
                    display: block;
                }
            }
        }
    }
    .container-intro{
        margin-top: 1.6rem;
        h1{
            font-size: 2rem;
        }
    }
    .nav-filters{
            margin-top: 2rem;   
    }
    .container-wd{
        img{
            width: 37.5rem;
            height: 18.75rem;
        }
    }
    .container-grid{
        .image{
            height: 9.8rem;
        }
        .grid-info{
            .title-grid{
                font-size: 0.9rem;
            }
            .description-grid{
                font-size: 0.68rem;
            }
        }
    }
    .galeria{
        margin-top: 1.4rem;
            a{
                height: 10rem;
                padding-bottom: 0.375rem;
            }
            img{
                height: 10rem;
            }     
    }
    .modal{
        justify-content: center;
        img{
            width: 62%;
        }
        a{
            font-size: 1.8rem;
        }
    }
    .product-modal{
        .modal-close{
            font-size: 1.5rem;
            top: 1.91rem;
            left: 8.625rem;
        }
        .modal-content{
            .description-modal{
                h3{
                    font-size: 0.7rem;
                    letter-spacing: 0.24rem;
                }
                p{
                    margin-top: 0.188rem;
                    font-size: 0.6rem;
                }
            }
        }
    }
    .container-paints{
        .cards-paint{
            margin-bottom: -1.875rem;
            .card-paint{
                width: 50%;
            }
        }  
        .description-paint{
            min-width: 15rem;
        } 
    }

    .signing{
        margin-top: 1rem;
        font-size: 0.7rem;
    }
}




