@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

:root {
    --fontPrimary:  'Roboto', monospace; 
    --fontSecundary: 'Josefin Sans', monospace;
    --fontTertiary: 'Playfair Display', monospace;
    --colorPrimary: black;   
}

body{
  margin: 0;
  padding: 0;
  inline-size: 100%;
}
/* header */

.header-container{
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    margin-inline: 9.375rem;
    margin-block-start: 3.125rem;

}
.author{
    font-size: 0.75rem;
    font-family: var(--fontSecundary);
    letter-spacing: 0.188rem;
}
.brand,
.about-link{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.about-link br{
    display: none;
}
.info-author{
    margin-top: 0.25rem;
    font-family: var(--fontPrimary);
    font-weight: 300;
}
.author br{
    display: none;

}
.about{
    font-family: var(--fontSecundary);
}
/* header--*/

/*H1*/
.container-intro{
    font-size: 2.625rem;
    margin-top: 5rem;
}
h1{
    margin: 0;
    margin-inline: 9.375rem;
    font-family: var(--fontTertiary);
    font-weight: 100;
}
/*H1--*/

/*filtros grid*/
.nav-filters{
    margin-top: 5rem;
    margin-inline-start: 9.375rem;
}
.filters{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
    font-family: var(--fontSecundary);
    text-transform: uppercase;
    font-size: 0.90rem;
    list-style: none;
}
.active-filter{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.filter{
    text-decoration: none;
    color: #a4a3a3;
}

/*filtros grid--*/

/*grid*/
.container-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 15px;
    margin-inline: 9.375rem;
    margin-top: 2.8rem;
    height: 110vh;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image{
 width: 100%;
 height: 16.625rem;
 
}

.grid-info{
    margin-top: 0.625rem;
    /* border: 6px solid red; */
}
.title-grid{
    font-size: 1.125rem;
    font-family: var(--fontPrimary);
    font-weight: 300;
    /* border: 6px solid pink; */
}
.description-grid{
    margin-top: 0.625rem;
    font-family: var(--fontSecundary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    /* border: 6px solid aqua; */
}
/*linea animacion cards*/
.card-1:after,
.card-2:after,
.card-3:after,
.card-4:after{
	content:"";
	display:block;
	position: relative;
	top:0;
	width:0px;
	height:0.8%;
	background-color:#000000;
	transition: all .3s ease-in-out;
}
.card-1:hover:after,
.card-2:hover:after,
.card-3:hover:after,
.card-4:hover:after{
	width:100%;
}

.card-5:after,
.card-6:after,
.card-7:after,
.card-8:after{
	content:"";
	display:block;
	position: relative;
	top:0;
	width:0px;
	height:0.8%;
	background-color:#000000;
	transition: all .3s ease-in-out;
}
.card-5:hover:after,
.card-6:hover:after,
.card-7:hover:after,
.card-8:hover:after{
	width:100%;
}
/*end linea animacion cards*/


.card-5,
.card-6,
.card-7,
.card-8 {
padding-top: 32px;
/* border: 6px solid rebeccapurple; */
}

/*
.line-grid{
    width: 15.625rem;
    height: 0.25rem;
    background-color: #E5E5E5;
    margin-top: 0.875rem;
    margin-bottom: 16px;
}
/*

/*grid--*/

.line-divider{
    margin-top: 3.75rem;
    width: all;
    height: 0.063rem;
    background-color: #E5E5E5;
}

/*about me and contact */
.aboutme,
.contact{
    margin-inline: 9.375rem;
    margin-block: 5rem;
}
h2{
    font-family: var(--fontSecundary);
    font-weight: 500;
    letter-spacing: 0.188rem;
}
.about-description,
.contact-description{
    font-family: var(--fontPrimary);
    font-weight: 300;
}
.name,
.country,
.email,
.rrss{
    margin: 0;
    margin-top: 0.25rem;
    color: black;
}

.rrssig{
    display: flex;
    gap: 0.875rem;
}

.flecha{
    width: 1.875rem;
}
.signing{
    display: flex;
    justify-content: center;
    font-family: var(--fontSecundary);
    margin-block: 2.5rem;
    font-size: 0.875rem;
}
.signing br {
    display: none;
}


.aside-footer-hp{
    margin-top: 890px;
}


 /* slider hand paints*/

.slider-hp {
    margin-top: 14rem;
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.40),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 38.75em;
    left: 28%;

    padding: .5em;
    position: absolute;
    top: 50%;
    width: 40em;
}



.slider-hp:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}



.slider-hp:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}



.slider-hp li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider-hp input {
    display: none;
}


.slider-hp label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider-hp label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider-hp:hover label {
    opacity: 1;
    visibility: visible;
}
.slider-hp input:checked + label {
    background-color: #fff;
}
.slider-hp:hover li:nth-child(1) label {
    left: .5em;
}
.slider-hp:hover li:nth-child(2) label {
    left: 2em;
}
.slider-hp:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider-hp:hover li:nth-child(4) label {
    left: 5em;
}


.slider-hp img {
    height: 38.75em;
    opacity: 0;
    transition: .25s;
    width: 40em;
    vertical-align: top;
    visibility: hidden;
}
.slider-hp li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
 /* end slider hand paints*/

 /* slide ph */
 /* #slide-ph {
    height: 100vh;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
      scroll-snap-align: start;
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
  }
  
  .buttons-slideph {
    margin: 0 auto;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    box-shadow: #000;
  }
  
  .a-ph {
    padding: 1rem;
    margin: .5rem;
    color: white;
    text-decoration: none;
  } */


 /* slide ph */
label{cursor: pointer;}

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Input */
input{display: none}


/* Slider */
.Carrusels{
    margin-top: 40px;
    height: 500px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}
/* Configuracion de elementos individuales */
.Carrusels .Carrusel:nth-child(1) {background-image: url(https://unsplash.it/500/300/);}
.Carrusels .Carrusel:nth-child(2) {background-image: url(https://unsplash.it/501/301/);}
.Carrusels .Carrusel:nth-child(3) {background-image: url(https://unsplash.it/502/302/);}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}


/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}


/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}
 /* end slide ph */

 /* vista mobile */

 @media (max-width: 767px) {

/* header */
.header-container{
    margin-inline: 2.375rem;

}
.author{
    font-size: 0.75rem;
    font-family: var(--fontSecundary);
    letter-spacing: 0.188rem;
}
/* .author br{
    display: block;
    line-height: 5em;
} */

.about-link br{
    display: block;
} 
.info-author{
    display: flex;
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: 300;
}

/* end header--*/

/*H1*/
.container-intro{
    font-size: 2rem;
}
h1{
    margin-inline: 2.375rem;
}
/*H1--*/

/*filtros grid*/
.nav-filters{
    margin-inline: 2.375rem;
    margin-top: 70px;

}
.filters{
    display: block;
    text-align: center;
    line-height:1.5em;
    font-size: 1rem;
}


/*end filtros grid--*/

 /* slide ph */
 .Carrusels{
     height: 300px;
     width: 100%;
 }
  /* end slide ph */

/*about me and contact */
.aboutme,
.contact{
    margin-inline: 2.375rem;
    margin-block: 5rem;
}/*end about me and contact */

}

@media (max-width: 420px) {
   
    .header-container{
        display: inline;   
        text-align: center; 
   }
    .author{
        margin-top: 20px;
        font-size: 0.90rem;
        font-family: var(--fontSecundary);
        letter-spacing: 0.188rem;
    }
    .info-author{
        display: block;
        text-align: center;
        margin-top: 7px;
    }
    .about{
        margin-top: 18px;
        text-decoration: underline;
    }
    .about-link br{
        display: none;
    } 
  /*H1*/
    .container-intro{
        margin-top: 28px;
        font-size: 1.4rem;
    }  
    .signing{
        margin-inline: 1.375rem;
    }
    .signing br {
        display: block;
    }
    .signing p{
        text-align: center;
    }
 }

  /* end vista mobile */
